<!--=====================================
	GALERÍA
======================================-->	

<div class="container-fluid p-0 bg-white" id="galeria">

    <h2 class="text-uppercase py-3 text-muted text-center">Galería de imágenes</h2>
    
    <section class="pinterest_grid">

        <article *ngFor="let galeria of rsJSON; let ultimoIndice = last" class="white-panel"> 

            <a href="{{galeria.foto}}" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="{{galeria.foto}}">
            </a>
            {{ultimoIndice ? callback() : "" }}
        </article>

    </section>

</div>
